<!DOCTYPE html>
<html lang="en">

    <%-include ('shared/header.ejs')%>

  <body class="hold-transition sidebar-mini layout-fixed layout-navbar-fixed">
    <div class="wrapper">
    <%-include ('shared/navbar.ejs')%>
    <%-include ('shared/sidebar.ejs')%>
    <%-include ('content/delivery.ejs')%>
    
    </div>

    <%-include ('shared/footer.ejs')%>
  </body>
</html>
